{% extends 'base.html.twig' %}

{% block title %}Catégorie {{ category.name }}{% endblock %}

{% block body %}

        <div class="media-body">
            <h1 class="mt-0">{{ category.name }}</h1>
                <ul>
                    {% for program in programs %}
                    <li>
                        <a href="{{ path('program_show',{slug: program.slug} ) }}"><h2>{{ program.id }} / {{ program.title }}</h2></a>
                        <p>{{ program.synopsis }}</p>
                    </li>
                        {% else %}
                        <p>Aucune série trouvée</p>
                    {% endfor %}
                </ul>
        </div>

    <a href="{{ path('category_index') }}">
        Retour à la liste des catégories
    </a>
{% endblock %}