{% extends 'base.html.twig' %}

{% block title %}Saison #{{ season.id }}{% endblock %}

{% block body %}

    <h1>Saison n°{{ season.id }} de {{ program.title }}</h1>
    <p>Année de sortie : {{ season.year }}</p>
    <p>{{ season.description }}</p>
    <ul>
        {% for episode in season.episodes %}
        <li>
            <a href="{{ path("program_episode_show", { programSlug: program.slug, seasonId: season.id, episodeSlug: episode.slug }) }}"><h2>{{ episode.number }} / {{ episode.title }}</h2></a>
            <p>{{ episode.synopsis }}</p>
        </li>
        {% endfor %}
    </ul>

{% endblock %}